*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navBar{
    height: 80px;
    width:100%;
    background-color: black;
    border: 2px solid ;
    display: flex;
    justify-content: center;
}

#navBar>article{
    height: 100%;
    width: 75%;
    /* border: 2px solid antiquewhite; */
    display: flex;
}

#navBar>article>.logo{
    height: 100%;
    width: 60%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}
#navBar>article>.logo>svg{
    height: 55%;
    fill: white;
    
}
#navBar>article>.logo>svg:hover{
    cursor: pointer;
}


#navBar>article>.menu{
    height: 100%;
    width: 40%;
    /* border: 2px solid blue; */
}

#navBar>article>.menu>ol{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navBar>article>.menu>ol>li{
    list-style: none;
}

#navBar>article>.menu>ol>li>a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

#navBar>article>.menu>ol>li>.a:hover{
    color: green;
}



/* ......................................................get premium free....................................... */


#free{
    height: 65vh;
    width: 100%;
    background-color: rgb(32, 119, 250);
    display: flex;
}
#free>h1{
color: white;
font-size: 39px;
margin-top: 120px;
font-family: Arial, Helvetica, ans-serif;
position: absolute;
left: 460px;

}


#free>h3{
    color: white;
    font-size: 20px;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 360px;
    letter-spacing: 1px;
}

#free>.a{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 45px;
    font-weight: bolder;
    letter-spacing: 1px;
    border: 1px solid black;
    position: absolute;
    top: 340px;
    left: 560px;
}
#free>.a:hover{
    cursor: pointer;
    scale: 1.1;
}


#free>.b{
    height: 50px;
    width: 165px;
    background-color: rgb(32, 119, 250);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 45px;
    border: 1px solid white;
    position: absolute;
    top: 340px;
    left: 720px;
}

#free>.b:hover{
    cursor: pointer;
    scale: 1.1;
}


#free>.c{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    position: absolute;
    top: 420px;
    left: 500px;
}
#free>.c:hover{
    cursor: pointer;
}

#free>.d{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 420px;
    left: 645px;
}



/* ......................................power................................ */


#power{
    height: 78vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

#power>h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    margin-top: 60px;
    justify-content: center;

}

#power>article{
    height: 60%;
    width:80%;
    position: absolute;
    top: 700px;
    display: flex;
    justify-content: space-around;
}

#power>article>.a{
    height: 100%;
    width: 20%;
}


#power>article>.a>#image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-left: 60px;
    background-image:url(./assets/Premium/1.png);
    background-size: cover;
    margin-top: 50px;
}
#power>article>.a>#text>h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 32px;
    font-weight: bolder;
    font-size: large;

}

#power>article>.a>#text>h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 40px;
    font-weight: lighter;
    font-size: 15px;
}

#power>article>.b{
    height: 100%;
    width: 20%;
}


#power>article>.b>#image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-left: 60px;
    background-image:url(./assets/Premium/2.png);
    background-size: cover;
    margin-top: 50px;
}
#power>article>.b>#text>h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 70px;
    font-weight: bolder;
    font-size: large;

}

#power>article>.b>#text>.a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 50px;
    font-weight: lighter;
    font-size: 15px;
}
#power>article>.b>#text>.b{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 120px;
    font-weight: lighter;
    font-size: 15px;
}

#power>article>.c{
    height: 100%;
    width: 20%;
}


#power>article>.c>#image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-left: 60px;
    background-image:url(./assets/Premium/3.png);
    background-size: cover;
    margin-top: 50px;
}
#power>article>.c>#text>h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 73px;
    font-weight: bolder;
    font-size: large;

}

#power>article>.c>#text>.a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 24px;
    font-weight: lighter;
    font-size: 15px;
}
#power>article>.c>#text>.b{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 70px;
    font-weight: lighter;
    font-size: 15px;
}


#power>article>.d{
    height: 100%;
    width: 20%;
    
}


#power>article>.d>#image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-left: 60px;
    background-image:url(./assets/Premium/4.png);
    background-size: cover;
    margin-top: 50px;
}
#power>article>.d>#text>h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 90px;
    font-weight: bolder;
    font-size: large;

}

#power>article>.d>#text>.a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 50px;
    font-weight: lighter;
    font-size: 15px;
}
#power>article>.d>#text>.b{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 130px;
    font-weight: lighter;
    font-size: 15px;
}






/* ..........................................Pick............................................ */



#pick{
    height: 130vh;
    width: 100%;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
}
#pick>.text{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40px;
}

#pick>.text>h1{
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    margin-top: 70px;
}

#pick>.text>h4{
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    position: absolute;
    margin-top: 120px ;
}

#pick>.text>ul{
    height: 15px;
    width: 250px;
    display: flex;
    position: absolute;
    margin-top: 160px;
    justify-content: space-around;
    
}

#pick>.text>ul>.a{
    height: 100%;
    width: 50px;
    background-image: url(./assets/Premium/a.svg);
    background-position: 0%;
}



#pick>.text>ul>.b{
    height: 100%;
    width: 50px;
    background-image: url(./assets/Premium/b.svg);
    background-position: center;
}

#pick>.text>ul>.c{
    height: 100%;
    width: 30px;
    background-image: url(./assets/Premium/c.svg);
    background-position: center;
}

#pick>.text>ul>.d{
    height: 100%;
    width: 30px;
    background-image: url(./assets/Premium/d.svg);
    background-position: center;
}

#pick>.text>ul>.e{
    height: 100%;
    width: 30px;
    background-image: url(./assets/Premium/e.svg);
    background-position: center;
}

#pick>.text>ul>.f{
    height: 100%;
    width: 10px;
    background-image: url(./assets/Premium/f.svg);
    background-position: cover;
}

#pick>.profile{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#pick>.profile>div{
    height: 70vh;
    width: 250px;
    background-color: white;
    position: absolute;
    left: 200px;
    margin-top: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px  0px 10px black;
}

#pick>.profile>div>#under{
    height: 65vh;
    width: 230px;
    
}




#pick>.profile>div>#under>.a{
    height: 35%;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid rgb(85, 83, 83);
}

#pick>.profile>div>#under>.a>button{
    height: 30px;
    width: 180px;
    border: 2px solid rgb(37, 106, 236);
    color: rgb(37, 106, 236);
    border-radius: 5px;
    letter-spacing: .5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
}

#pick>.profile>div>#under>.a>h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 25px;
}

#pick>.profile>div>#under>.a>h4{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: lighter;
}

#pick>.profile>div>#under>.b>#aa{
    display: flex;
}



#pick>.profile>div>#under>.b>#aa>svg{
    margin-top: 20px;

}

#pick>.profile>div>#under>.b>#aa>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>div>#under>.b>#bb{
    display: flex;
}



#pick>.profile>div>#under>.b>#bb>svg{
    margin-top: 20px;

}

#pick>.profile>div>#under>.b>#bb>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>div>#under>.b>#cc{
    display: flex;
}



#pick>.profile>div>#under>.b>#cc>svg{
    margin-top: 20px;

}

#pick>.profile>div>#under>.b>#cc>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>div>#under>.c{
    /* display: flex;
    justify-content: center;
    align-items: end; */
}

#pick>.profile>div>#under>.c>button{
    height: 40px;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 50px;
    border: 2px  solid black;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 35px;
    
}

#pick>.profile>div>#under>.c>button:hover{
    cursor: pointer;
    scale: 1.1;
}

#pick>.profile>div>#under>.c>h5{
    color: rgb(124, 124, 124);
    margin-top: 15px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}

#pick>.profile>div>#under>.c>h5:hover{
    cursor: pointer;
}







#pick>.profile>article{
    height: 70vh;
    width: 250px;
    background-color: white;
    position: absolute;
    left: 500px;
    margin-top: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px  0px 10px black;
}

#pick>.profile>article>#under{
    height: 65vh;
    width: 230px;
    
}




#pick>.profile>article>#under>.a{
    height: 35%;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid rgb(85, 83, 83);
}
#pick>.profile>article>#under>.a>#b{
    height: 30px;
    width: 120px;
    color: white;
    background-color:rgb(37, 106, 236) ;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


#pick>.profile>article>#under>.a>button{
    height: 30px;
    width: 180px;
    margin-top: 10px;
    border: 2px solid rgb(37, 106, 236);
    color: rgb(37, 106, 236);
    border-radius: 5px;
    letter-spacing: .5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
}

#pick>.profile>article>#under>.a>h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 25px;
}

#pick>.profile>article>#under>.a>h4{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#aa{
    display: flex;
}



#pick>.profile>article>#under>.b>#aa>svg{
    margin-top: 20px;

}

#pick>.profile>article>#under>.b>#aa>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#bb{
    display: flex;
}



#pick>.profile>article>#under>.b>#bb>svg{
    margin-top: 20px;

}

#pick>.profile>article>#under>.b>#bb>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#cc{
    display: flex;
}



#pick>.profile>article>#under>.b>#cc>svg{
    margin-top: 20px;

}

#pick>.profile>article>#under>.b>#cc>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.c{
    /* display: flex;
    justify-content: center;
    align-items: end; */
}

#pick>.profile>article>#under>.c>button{
    height: 40px;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 50px;
    border: 2px  solid black;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 70px;
    
}

#pick>.profile>article>#under>.c>button:hover{
    cursor: pointer;
    scale: 1.1;
}

#pick>.profile>article>#under>.c>div{

}



#pick>.profile>article>#under>.c>div>h5{
    color: rgb(124, 124, 124);
    margin-top: 15px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
/* #pick>.profile>article>#under>.c>div{
    display: flex;
} */



#pick>.profile>article>#under>.c>div>h5:hover{
    cursor: pointer;
}

#pick>.profile>article>#under>.c>div>#b{
    color: rgb(124, 124, 124);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: none;
}









#pick>.profile>.third{
    height: 70vh;
    width: 250px;
    background-color: white;
    position: absolute;
    left: 800px;
    margin-top: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px  0px 10px black;
}

#pick>.profile>article>#under{
    height: 65vh;
    width: 230px;
    
}




#pick>.profile>article>#under>.a{
    height: 35%;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid rgb(85, 83, 83);
}
#pick>.profile>article>#under>.a>#b{
    height: 30px;
    width: 120px;
    color: white;
    background-color:rgb(37, 106, 236) ;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


#pick>.profile>article>#under>.a>button{
    height: 30px;
    width: 180px;
    margin-top: 10px;
    border: 2px solid rgb(37, 106, 236);
    color: rgb(37, 106, 236);
    border-radius: 5px;
    letter-spacing: .5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
}

#pick>.profile>article>#under>.a>h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 25px;
}

#pick>.profile>article>#under>.a>h4{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#aa{
    display: flex;
}



#pick>.profile>article>#under>.b>#aa>svg{
    margin-top: 20px;

}

#pick>.profile>article>#under>.b>#aa>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#bb{
    display: flex;
}



#pick>.profile>article>#under>.b>#bb>svg{
    margin-top: 20px;

}

#pick>.profile>article>#under>.b>#bb>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#cc{
    display: flex;
}



#pick>.profile>article>#under>.b>#cc>svg{
    margin-top: 20px;

}

#pick>.profile>article>#under>.b>#cc>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#pick>.profile>article>#under>.b>#dd{
    display: flex;
}

#pick>.profile>article>#under>.b>#dd>svg{
    margin-top: 20px;

}

#pick>.profile>article>#under>.b>#dd>.c{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.c{
    /* display: flex;
    justify-content: center;
    align-items: end; */
}

#pick>.profile>.third>#under>.c>button{
    height: 40px;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 50px;
    border: 2px  solid black;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 14px;
    
}

#pick>.profile>article>#under>.c>button:hover{
    cursor: pointer;
    scale: 1.1;
}

#pick>.profile>article>#under>.c>div{

}



#pick>.profile>article>#under>.c>div>h5{
    color: rgb(124, 124, 124);
    margin-top: 15px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
/* #pick>.profile>article>#under>.c>div{
    display: flex;
} */



#pick>.profile>article>#under>.c>div>h5:hover{
    cursor: pointer;
}

#pick>.profile>article>#under>.c>div>#b{
    color: rgb(124, 124, 124);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: none;
}










#pick>.profile>.fourth{
    height: 70vh;
    width: 250px;
    background-color: white;
    position: absolute;
    left: 1100px;
    margin-top: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px  0px 10px black;
}

#pick>.profile>article>#under{
    height: 65vh;
    width: 230px;
    
}




#pick>.profile>article>#under>.a{
    height: 35%;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid rgb(85, 83, 83);
}



#pick>.profile>article>#under>.a>button{
    height: 30px;
    width: 180px;
    margin-top: 10px;
    border: 2px solid rgb(37, 106, 236);
    color: rgb(37, 106, 236);
    border-radius: 5px;
    letter-spacing: .5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
}

#pick>.profile>article>#under>.a>h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 25px;
}

#pick>.profile>article>#under>.a>h4{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#aa{
    display: flex;
}



#pick>.profile>article>#under>.b>#aa>svg{
    margin-top: 10px;

}

#pick>.profile>article>#under>.b>#aa>.c{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#bb{
    display: flex;
}



#pick>.profile>article>#under>.b>#bb>svg{
    margin-top: 10px;

}

#pick>.profile>article>#under>.b>#bb>.c{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.b>#cc{
    display: flex;
}



#pick>.profile>article>#under>.b>#cc>svg{
    margin-top: 10px;

}

#pick>.profile>article>#under>.b>#cc>.c{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#pick>.profile>article>#under>.b>#dd{
    display: flex;
}

#pick>.profile>article>#under>.b>#dd>svg{
    margin-top: 10px;

}

#pick>.profile>article>#under>.b>#dd>.c{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}



#pick>.profile>.fourth>#under>.b>#ee{
    display: flex;
}

#pick>.profile>article>#under>.b>#ee>svg{
    margin-top: 10px;

}

#pick>.profile>article>#under>.b>#ee>.c{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#pick>.profile>article>#under>.c{
    /* display: flex;
    justify-content: center;
    align-items: end; */
}

#pick>.profile>.fourth>#under>.c>button{
    height: 40px;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 50px;
    border: 2px  solid black;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    
}

#pick>.profile>article>#under>.c>button:hover{
    cursor: pointer;
    scale: 1.1;
}

#pick>.profile>article>#under>.c>div{

}



#pick>.profile>article>#under>.c>div>h5{
    color: rgb(124, 124, 124);
    margin-top: 15px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
/* #pick>.profile>article>#under>.c>div{
    display: flex;
} */



#pick>.profile>.fourth>#under>.c>div>h5:hover{
    cursor: pointer;
}

#pick>.profile>.fourth>#under>.c>div>#b{
    color: rgb(124, 124, 124);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: none;
}



.text2{
    height: 70px;
    width: 45vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px  0px 10px black;
    position: absolute;
    left: 410px;
    top: 1970px;
    display: flex;
    align-items: center;
}

.text2>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 20px;
}

.text2>button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid  black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 30px;
}









/* --------------------------------theend------------------------------------ */
.home6 {
    background-color: black;
    height: 560px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.home6>article {
    height: 100%;
    width: 80%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-evenly;

}

/* .home6>article>.logo {
    height: 100%;
    width: 9%;
} */

.home6>article>.logo>svg {
    fill: white;
    height: 7%;
    /* background-color: brown; */
    position: relative;
    top: 90px;


}

.home6>article>.logo>svg:hover {
    cursor: pointer;
}

.q {
    color: grey;
    /* background-color: red; */
    position: relative;
    top: 110px;
    margin-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.o1 {
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 135px;
}

.l1:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l2 {
    margin-top: 20px;
}

.l2:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l3 {
    margin-top: 20px;
}

.l3:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l4 {
    margin-top: 20px;
}

.l4:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l5 {
    margin-top: 20px;
}

.l5:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.iicon {
    display: flex;
    justify-content: space-evenly;
    /* background-color: brown; */
}

.fa-brands {
    background-color: black;
    color: white;
    position: relative;
    top: 90px;
    margin-left: 40px;
    font-size: 35px;
}

.fa-brands:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.f1 {
    background-color: black;
    color: grey;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.di1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 230px;

}

.di2 {
    margin-right: 250px;
}

.para {
    margin-left: 20px;

}
.aaa:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.bbb:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.ccc:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.ddd:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.eee:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.fff:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.ggg:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}





