*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: #121212;
    /* background-color: green; */
    /* border: 2px solid; */
    display: flex;
    justify-content: center
}
#navbar>article{
    height: 100%;
    width: 100%;
    /* border: 3px solid red; */
    /* background-color: yellow; */
    display: flex;
    margin-right: 80px;

    
}
#navbar>article>.logo{
    height: 100%;
    width: 100%;
   /* background-color: aqua; */
   display: flex;
   align-items: center;
   /* margin-top: 10px; */
   margin-left: 30px;
   
}
#navbar>article>.logo>svg{
    fill: white;
    height: 42%;
}
#navbar>article>.logo>svg:hover{
    cursor: pointer;
}
/* ---------------------------end------------ */
body{
    background-color: #121212;
}
.home{

    height: 90vh;
    width: 100%;
    background-color: #121212;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
}
.home>article{
    height: 100%;
    width: 30vw;
    /* background-color: aqua; */
    /* border: 1px solid white; */
    /* margin-top: 38px; */
}
.home>article>.a>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    word-spacing: -1px;
    margin-left: 53px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.user>label{
    color: white;
    margin-left: 53px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.input>input{
    background-color: black;
    margin-left: 53px;
    padding: 15px 80px ;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 13px;
}
.input>::placeholder{
transform: translateX(-65px);font-size: 17px;

}
.input>:hover{
    border: 1px solid white;
}
.b>a{
    color:#1ED760;
    margin-left: 53px;
}
.but{
    height: 55px;
    width: 330px;
    border-radius: 40px;
    border: none;
    margin-left: 53px;
    margin-top: 19px;
    color: black;
    background-color: #1ED760;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30PX;
}
.dXFMeV {
    width: 330px;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 53px;
}

.dXFMeV::before {
    content: " ";
    height: 1px;
    background-color: var(--essential-subdued,#878787);
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
}
.jZeMek {
    padding: 0px 12px;
    position: relative;
    display: inline-block;
    background: var(--background-base,#121212);
    color: white;
}
/* ::before, ::after {
    box-sizing: border-box;
} */
.btn1{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 50px;
    width: 320px;
    border-radius: 40px;
    border :1px solid gray;
    margin-left: 53px;
    margin-top: 30px;
    color: black;
    /* background-color: rgb(66, 228, 66); */
    font-size: 18px;
    font-weight: bold;
    /* margin-bottom: 30PX; */

}
.btn1:hover{
    cursor: pointer;
    border: 1px solid white;
}
.im1{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 10px;
   
}
.im2{
    height: 25px;
    width: 25px;
    margin-top: 12px;
    margin-left: 10px;
   
    
   
}

/* 
.c{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.pr{
    color: white;
    margin-right: 50px;
    margin-top: 10px;
    
}
.pr>h3{
    /* padding: auto; */
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: arial;
    position: relative;
    top: 5px;

} 
.aa{
    font-size: 14px;
    /* text-align: center; */
    /* background-color: aqua; */
    position: relative;
    left: 16px;

} 

.btn2{
    position: relative;
    bottom: 22px;

}
.btn2:hover{
    cursor: pointer;
    border: 1px solid white;
}
.line1{
    margin-top: 10px;
}
.d{
    display: flex;
    margin-top: 40px;
    margin-left: 87px;
    
}
.d1{
    color:#A7A7A7;
    font-size: 17px;
    font-family: arial;
}
.d2{
    color :white;
    font-family: Arial, Helvetica, sans-serif;
}


