* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------navbarcss--------- */
#navbar {
    height: 80px;
    width: 100%;
    background-color: black;
    border: 2px solid;
    display: flex;
    justify-content: center;

}

#navbar>article {
    height: 100%;
    width: 85%;
    /* border: 3px solid red; */
    display: flex;
}

#navbar>article>.logo {
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;

}

#navbar>article>.logo>svg {
    fill: white;
    height: 50%;
}

#navbar>article>.logo>svg:hover {
    cursor: pointer;
}

#navbar>article>.menu {
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}

#navbar>article>.menu>ol {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar>article>.menu>ol>li {
    list-style: none;

}

#navbar>article>.menu>ol>li>a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#navbar>article>.menu>ol>li>.a:hover {
    color: rgb(66, 228, 66)
}

/* ------------------endcssnavbar------------ */

/* --------csshome--------- */
.home {
    height: 80vh;
    width: 100%;
    background: url(./bubbles-dktp.svg), center -138px / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.home>article {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: end;



}

.home>article>.phone {
    height: 80%;
    width: 25%;
    /* background-color: blue; */


}

.ima {
    position: absolute;
    top: 35%;
    height: 415px;
    width: 275px;
    margin-left: 10px;


}

.home>article>.text {
    height: 80%;
    width: 75%;
    /* background-color: green; */

}

.home>article>.text>p {
    font-size: 65px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 80px;
    margin-left: 135px;
    letter-spacing: -2px;
}

.home>article>.text>div>button {
    border-radius: 50px;
    height: 50px;
    width: 180px;
    border: none;
    margin-left: 135px;
    margin-top: 30px;
    font-weight: bold;

}

/* -----------theend------------------------------ */
.home2 {
    margin-top: 60px;
}

.home2>.a>h1 {
    text-align: center;
    font-size: 38px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.b {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    /* margin: 0px 71.5px 40px; */
}

.icon {
    height: 150px;
    width: 150px;

}

.c {

    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    /* margin: 0px 71.5px 40px; */
}

.heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    /* font-weight: bold; */

}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-top: 6px;

}

.p3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-top: 6px;
}

/* ------------------theend------------------------ */
.home3 {
    margin-top: 80px;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    height: 480px;
    width: 100%;
}

.ha1 {
    position: relative;
    top: 35%;
}

.a1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

/* --------------------------------------------theend------------------------------------------------ */
.home4 {
    margin-left: 200px;
    margin-right: 200px;
}

.hm4 {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.hm4>div>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}

#con1 {
    margin-top: 60px;
    height: 90px;
    width: 100%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: none;
}

#con1:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(251, 249, 249);
}

#con2 {
    height: 90px;
    width: 100%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: none;
}

#con2:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(251, 249, 249);
}

/* -----------------------------------------theend------------------------------------------------- */
.home5 {
    height: 525px;
    width: 100%;
    background: url(lets-play.svg) left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);

    background-position: left -10px bottom -160px;
    background-repeat: no-repeat;

}

.art5 {
    text-align: center;
    position: relative;
    top: 50%
}

.hi5 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bolder;
}

.hmbut {
    border-radius: 50px;
    height: 50px;
    width: 180px;
    border: none;

    margin-top: 30px;
    font-weight: bold;
}
.hmbut:hover{
    cursor: pointer;
    
}

/* --------------------------------theend------------------------------------ */
.home6 {
    background-color: black;
    height: 560px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.home6>article {
    height: 100%;
    width: 80%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-evenly;

}

/* .home6>article>.logo {
    height: 100%;
    width: 9%;
} */

.home6>article>.logo>svg {
    fill: white;
    height: 7%;
    /* background-color: brown; */
    position: relative;
    top: 90px;


}

.home6>article>.logo>svg:hover {
    cursor: pointer;
}

.q {
    color: grey;
    /* background-color: red; */
    position: relative;
    top: 110px;
    margin-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.o1 {
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 135px;
}

.l1:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l2 {
    margin-top: 20px;
}

.l2:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l3 {
    margin-top: 20px;
}

.l3:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l4 {
    margin-top: 20px;
}

.l4:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.l5 {
    margin-top: 20px;
}

.l5:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.iicon {
    display: flex;
    justify-content: space-evenly;
    /* background-color: brown; */
}

.fa-brands {
    background-color: black;
    position: relative;
    top: 90px;
    margin-left: 40px;
    font-size: 35px;
}

.fa-brands:hover {
    cursor: pointer;
    color: rgb(7, 213, 7);
}

.f1 {
    background-color: black;
    color: grey;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.di1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 230px;

}

.di2 {
    margin-right: 250px;
}

.para {
    margin-left: 20px;

}
.aaa:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.bbb:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.ccc:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.ddd:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.eee:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.fff:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}
.ggg:hover{
    cursor: pointer;
    color: rgb(7, 213, 7);

}